<%- include('partials/head') %>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-8">
                    <%- include('partials/navbar') %>
                        <div class="card">
                            <div class="card-body">
                                <div class="jumbotron">
                                    <h1 class="display-4">Advanced Search</h1>
                                    <p class="lead">Search the entire database using filters</p>
                                </div>
                                <hr class="my-4">
                                <p>Use one more search criteria(s) to query the release database:</p>

                                <form method="POST" action="/releases/advancedsearch">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label for="customerSelect" class="col-form-label">Customer</label>
                                            <select class="form-select" id="customerSelect" name="customerSelect" aria-label="customerSelect">
                                                <option value="undefined" selected>Select</option>
                                                <% for(c of customers){ %> 
                                                    <option value="<%= c %>"><%= c %></option>
                                                <% } %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label for="moduleSelect" class="col-form-label">Module</label>
                                            <!--class="form-select" id="moduleSelect" name="moduleSelect" aria-label="moduleSelect"-->
                                            <select class="form-select" id="moduleSelect" name="moduleSelect" aria-label="moduleSelect">
                                                <option value="undefined" selected>Select</option>
                                                <% for(m of modules){ %> 
                                                    <option value="<%= m %>"><%= m %></option>
                                                <% } %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label for="statusSelect" class="col-form-label">Status</label>
                                            <select class="form-select" id="statusSelect" name="statusSelect" aria-label="statusSelect">
                                                <option value="undefined" selected>Select</option>
                                                <% for(s of status){ %> 
                                                    <option value="<%= s %>"><%= s %></option>
                                                <% } %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <label for="sortBy" class="col-form-label">Sort by</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sortBy"
                                                    id="sortBy1" value="releaseDate" checked>
                                                <label class="form-check-label" for="sortBy1">
                                                    Release Date
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sortBy"
                                                    id="sortBy2" value="dateModified">
                                                <label class="form-check-label" for="sortBy2">
                                                    Date Modified
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <br>
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <%- include('partials/footer') %>
                        </div>
                </div>
            </div>
        </div>
    </body>

    </html>